Source: teclasat
Section: x11
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>= 5), imagemagick
Standards-Version: 3.7.2

Package: teclasat
Architecture: any
Depends: iwidgets4, dvb-utils, kaffeine (>= 0.6-1) | totem | xine-ui | mplayer, procps, tcl8.4
Recommends: at
Description: DVB Viewer Frontend
 Teclasat is a Frontend for the Pinnacle PCTVSat and uses szap and xine.
